*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}
body{
    background-color: blue;
    color: aliceblue;
}
.wrapper{
    width: 400px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}
.container{
    width: 100%;
    background-color:blue;
    padding: 50px 40px;
    box-shadow: 0 20px 65px rgb(2, 2, 39);
    position: relative;
    border-radius: 10px;
    text-align: center;
    line-height:23px;
    font-size: 19px;
}
.container:after{
    content:" " ;
    position: absolute;
    width: 80%;
    height: 120%;
    background-color: aliceblue;
    z-index: -1;
    top: -10%;
    left: 10%;
}
.source{
    margin-top:15px;
    float: right;
    padding: 15px;
}
.btn{
    border: none;
    padding: 10px 45px;
    margin: 25px ;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    color: blue;
    font-weight:bold;
}
